td, th { border-radius: 3px; text-align: center; padding: 7px;}

th{ background: #36BBCE; color: #015965; font-weight: normal;;}

#output{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
}

#textandbutton{
    width: 80%;
    margin:auto;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 8%;
}

td.hover, tr.hover{
    background: blue;
}

body{
    color: #015965;
    font: 100% Verdana, sans-serif;
}

table{
    width: 100%;
    margin: auto;
}

.small p{
    margin: 0px;
    padding: 0px;
    font-size: 75%;
    font-style: italic;
}

#textandbutton input, #textandbutton label{
    height:30px;
    font-size:12pt;
}

#message{
    height:30px;
    font-size:15pt;
    display: inline;
}
