td, th{ border-radius: 5px; text-align: center; padding: 3px;}

th{ background: #36BBCE; color: #015965; font-weight: normal;;}

#output{
    position: relative;
    left: 5%;
    top: 10px;
    width: 90%;
}

#textandbutton{
    margin:auto;
    text-align: center;
    position: relative;
    width: 100%;
    top: 10px;
    }

tr:hover{
    background: #C0C0C0;
}

body{
    color: #015965;
    font-family: Comic Sans MS, Arial, "MS Trebuchet", sans-serif;
}

table{
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    position: relative;
    z-index:-10;
}

.small p{
    margin: 0px;
    padding: 0px;
    font-size: 75%;
    font-style: italic;
}

#textandbutton input{
    height:30px;
    width: 350px;
    font-size:12pt;
    margin-top: 10px;
    border-radius: 3px;
    font-style: italic;
    opacity: 0.4;
    text-align: center;
    color: red;
    position: relative;
    z-index: 10;
}
#textandbutton label{
    height:30px;
    font-size:20pt;
    position: relative;
    z-index: 7;
}
#message{
    padding: 5px;
    position: relative;
    z-index: 9;
}

#footer{
    font-size: 80%;
    text-align: center;
    opacity: 1;
    position: relative;
    
}

#google{
    position: fixed;
    bottom: 5px;
    right: 5px; 
    
}